<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

<h1>Login with APP</h1>
<p>This is the login page for the third-party services. Normally it will either be a button that will trigger a popup or
it can be a redirection to the client page to carry out authorization.</p>
<form method="POST" action="/authorize">
	<button>Continue with APP</button>
</form>
</body>
</html>