<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

<h1>At Home Page</h1>
<p>You are currently logged in.</p>

<a href='/connect'>Connect</a>
<script type="text/javascript" src='/authenticate.js'></script>
</body>
</html>